@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @apply w-full h-full;
}

#main {
    @apply w-full h-screen bg-black;
}

.svg, .svg2, .svg3 {
    @apply w-full h-screen transition-all duration-1000;
    mask-image: url("/star.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0%;
}

.img, .img2, .img3 {
    @apply w-full h-full bg-center bg-no-repeat;
    background-size: 130%;
}

.img  { background-image: url("/image1.jpg"); }
.img2 { background-image: url("/image2.jpg"); }
.img3 { background-image: url("/image3.jpg"); }
